@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-color:#7e83bf;
    overflow-x: hidden;
}

html{
    overflow-x: hidden;
}

.navbar, html{
    overflow: visible;
}
.navbar {
    background-color: rgba(0, 5, 151, 0.316);
    backdrop-filter: blur(10px);
    padding: 1px;
    border-radius: 10px;
    z-index: 1000;
}

.navbar-input{
    display: flex;
    justify-content: space-between;
}

.navbar h3{
    color: black;
    font-size: 40px;
    font-family: 'Poppins','sans-serif';
    padding-left: 30px;
    margin-top: 10px;
}

.category-btn {
    padding: 5px;
    margin: -45px 0 10px 60px;
}



.search-bar{

    padding: 5px;
    border-radius: 15px;
    margin: -75px 50px 30px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    line-height: 28px;

}

.search-bar input{
    flex-grow: 1;
    font-size: 19px;
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    padding-right: 5.5rem;
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
    border: 0;
    border-radius: 12px;
    background-color:#7e83bf;
    outline: none;
    color: black;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    margin-right: 5px;
}

.search-bar input::placeholder{
    color: black;
}

.search-bar input:hover{
    box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

/* .search-bar input:active{
    transform: scale(0.95);
}

.search-bar .bx-search:active{
    transform: scale(0.95);
} */

.search-bar input:focus {
    box-shadow: 0 0 0 2.5px #2f303d;
  }

.search-bar .bx-search{
    position: absolute;
    left: .5rem;
    font-size: 1.5rem;
    color: #ffffff;
    pointer-events: none;
    z-index: 1;
}


.category-btn {
    --font-color-dark: #323232;
    --font-color-light: #ffc729;
    --bg-color: #7e83bf;
    --main-color: #323232;
    position: relative;
    width: 240px;
    height: 25px;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    display: flex;
    flex-direction: row;

}

.btn-option {
    width: 80.5px;
    height: 28px;
    position: relative;
    top: -1px;
}

.input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    appearance: none;
    cursor: pointer;
}

.btn {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.span {
    color: var(--font-color-dark);
}

.input:checked + .btn {
    border-radius: 0;
    background-color:rgb(36, 60, 133);
}

.input:checked + .btn .span {
    color: var(--font-color-light);
}

.dropdown-category {
    width: fit-content;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position:relative;
    transition: 300ms;
    color: white;
    overflow: hidden;
    margin: 0 0 -127px -85px;
    z-index: 100000000000000000000000000000000000000000000000;
}

.selected {
    background-color: #2a2f3b;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 0 10px 10px 0 ;
    position: relative;
    z-index: 10000;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    position: relative;
    right: 0px;
    height: 10px;
    transform: rotate(-90deg);
    width: 15px;
    fill: white;
    z-index: 1;
    transition: 300ms;
}

.options {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    background-color: #2a2f3b;
    position: relative;
    top: -100px;
    opacity: 0;
    z-index: 20000000000;
    transition: 300ms;
    cursor: pointer;
}

.dropdown-category:hover > .options {
    opacity: 1;
    top: 0;
}

.dropdown-category:hover > .selected .arrow {
    transform: rotate(0deg);
}

.option {
    border-radius: 5px;
    padding: 5px;
    transition: 300ms;
    background-color: #2a2f3b;
    width: 60px;
    font-size: 15px;
    z-index: 200;
    cursor: pointer;
}
.option:hover {
    background-color: #323741;
}

.options input[type="radio"] {
    display: none;
}

.options label {
    display: inline-block;
}
.options label::before {
    content: attr(data-txt);
}

/* .options input[type="radio"]:checked + label {
    display: none;
}

.options input[type="radio"]#dd-all:checked + label {
    display: none;
} */

.dropdown-category:has(.options input[type="radio"]#dd-all:checked) .selected::before {
    content: attr(data-default);
}
.dropdown-category:has(.options input[type="radio"]#dd-active:checked) .selected::before {
    content: attr(data-one);
}
.dropdown-category:has(.options input[type="radio"]#dd-pending:checked) .selected::before {
    content: attr(data-two);
}


.table-container{
    margin-top: 20px;
    max-height: 6in;
    overflow-y: auto;
    position: relative;
    z-index: 0;
}

.table-container .table-accounts{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

tr, td{
    background-color: #383f85;
    color:white;
    padding: 30px 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.td-content{
    margin: -20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.td-left{
    display: flex;
    flex-direction: row;

}

.td-left .bx{
    font-size: 100px;
}

.profile-image {
    width: 100px;
    height: 100px; 
    border-radius: 3px;
    border: 2px solid;
    margin-right: 10px;
}

#username{
    font-size: 40px;
    margin: 10px 0;
}

#fullname, #position-name{
    font-size: 20px;
    margin: 0;
    display: inline-block;
}

.td-right{
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    right: 5%;
}

#date{
    font-size: 20px;
    margin-right: -10px;
    z-index: 1;
}

.td-btn{
    position: relative;
    align-content: space-between;
    word-spacing: 20px;
}

.td-btn button{
    display: inline-block;
    padding: 7px; 
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: whitesmoke;
    margin-right: -10px;
}
.td-btn button:hover {
    background-color: red;
    color: black;
}


#accept-btn{
  
    background-color: rgb(23, 99, 23);
}

#decline-btn{
    background-color: rgb(137, 40, 40);
}

#view-btn{
    background-color: #967d38;
}

#view-more-container{
    background-color: white;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    flex-direction: row;
    gap: 0;
}

.view-left{
    position: fixed;
    border-right: 1px solid;
    padding: 20px;
    float: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: -10px;
    width: 27.5%;
    box-sizing: border-box;
}

.view-left .bx{
    font-size: 300px;
    border: 1px solid;
}

#view-role input{
    font-size: 25px;
    border: 1px solid;
    margin: 3px 7px 5px 5px;
}

.view-left button{
    font-size: 30px;
    border-radius: 15px;
    margin-top: 10px;
    padding: 0 -10px;
}

#view-more-container label{
    font-size: 30px;
}

#account-status{
    margin-top: 100px;
}

#account-status input{
    font-size: 15px;
}

#view-role{
    margin-top: 50px;
}

.view-right{
    border: 1px solid;
    padding: 20px;
    width: 73%;
    height: 100%;
    float: right;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 0;
}

.view-space{
    position: relative;
    padding: 10px;
    border-bottom: 1px solid black;
    height: 100px;
    margin: 0 -30px 0 -20px;
    text-align: right;
    align-items: center;
}

.view-space button{
    padding: 10px 20px 10px 20px;

    font-size: 20px;
    margin: 20px 20px 0 0;
}

.view-name{
    position: relative;
    border-bottom: 1px solid black;
    padding: 15px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 50px;
    text-align: center;
    margin: 0 -30px 0 -20px;
    
}

.view-name h2, .view-contact h2, .view-account h2{
    position: relative;
    width: 100%;
    margin: 0;
    text-align: left;
    padding: 10px 0 10px 0;
}

.field-group-1 input, .field-group-2 input, .field-group-3 input{
    font-size: 20px;
}

.field-group-1, .field-group-2, .field-group-3{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 45%;
    height: auto;
}

.field-group-1 h5, .field-group-2 h5, .field-group-3 h5 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.view-name h3{
    display: block;
    border: 2px solid;
    font-size: 30px;
}

.view-contact{
    position: relative;
    padding: 15px;
    border-bottom: 1px solid black;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
    margin: 0 -30px 0 -20px;

}

.field-group-2, .field-group-3{
    display: flex;
    top: -50px;
    height: 60px;
    flex-direction: column;
    margin: 0;
    width: 45%;
    position: relative;

}


.view-account{
    position: relative;
    padding: 15px;
    border-bottom: 1px solid black;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
    margin: 0 -30px 0 -20px;

}