@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-color:#7e83bf;
    overflow-x: hidden;
}

html{
    overflow-x: hidden;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 1px;
    border-radius: 10px;

}

.navbar-input{
    display: flex;
    justify-content: space-between;
}

.navbar h3{
    color: black;
    font-size: 40px;
    font-family: 'Poppins','sans-serif';
    padding-left: 30px;
    margin-top: 10px;
}

.category-btn {
    padding: 5px;
    margin: -45px 0 10px 60px;
}



.search-bar{
    z-index: 1;
    padding: 5px;
    border-radius: 15px;
    margin: -75px 100px 30px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    line-height: 28px;
    
}

.search-bar input{
    font-size: 19px;
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
    border: 0;
    border-radius: 12px;
    background-color:#7e83bf;
    outline: none;
    color: black;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
}

.search-bar input::placeholder{
    color: black;
}

.search-bar input:hover{
    box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.search-bar input:active{
    transform: scale(0.95);
}

.search-bar input:focus {
    box-shadow: 0 0 0 2.5px #2f303d;
  }

.search-bar .bx-search{
    position: absolute;
    left: .5rem;
    font-size: 1.5rem;
    color: #ffffff;
    pointer-events: none;
    z-index: 1;
}


.category-btn {
    --font-color-dark: #323232;
    --font-color-light: #FFF;
    --bg-color: #7e83bf;
    --main-color: #323232;
    position: relative;
    width: 240px;
    height: 25px;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    
    display: flex;
    flex-direction: row;

}

.option {
    width: 80.5px;
    height: 28px;
    position: relative;
    top: -1px;
}

.input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    appearance: none;
    cursor: pointer;
}

.btn {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.span {
    color: var(--font-color-dark);
}

.input:checked + .btn {
    border-radius: 0;
    background-color:rgb(36, 60, 133);
}

.input:checked + .btn .span {
    color: var(--font-color-light);
}