@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: #464866;
    overflow-x: hidden;  
}

html{
    overflow-x: hidden;
}

.navbar, html{
    overflow: visible;
}
.navbar {
    background-color: #25274D;
    backdrop-filter: blur(10px);
    padding: 1px;
    border-radius: 10px;
    border: 2px solid #29648A;
    z-index: 1000;
}

.navbar-input{
    display: flex;
    justify-content: space-between;
}

.navbar h3{
    color: #F9F4EF;
    font-size: 40px;
    font-family: 'Poppins','sans-serif';
    padding-left: 30px;
    margin-top: 10px;
}

.category-btn {
    padding: 5px;
    margin: -45px 0 10px 60px;
}



.search-bar{
    
    padding: 5px;
    border-radius: 15px;
    margin: -150px 50px -80px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    line-height: 28px;
    z-index: 100;
    padding-top: 10px;
    width: 25%;
}

.search-bar input {
    flex-grow: 1;
    font-size: 18px;
    width: 80%;
    height: 40px;
    padding-left: 1.5rem;
    padding-right: 4rem;
    box-shadow: 0 0 0 1.5px #5C6A8A, 0 0 10px rgba(0, 0, 0, 0.1); 
    border: 0;
    border-radius: 12px;
    background-color: #3E4E6C; 
    outline: none;
    color: #D1DAF2; 
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    margin-right: 5px;
}

.search-bar input::placeholder {
    color: rgba(209, 218, 242, 0.7); 
}

.search-bar input:hover {
    box-shadow: 0 0 0 2.5px #5C6A8A, 0 0 15px rgba(92, 106, 138, 0.4); 
}

.search-bar input:focus {
    box-shadow: 0 0 0 2.5px #5C6A8A; 
}

.search-bar .bx-search {
    position: absolute;
    left: .5rem;
    font-size: 1.5rem;
    color: #D1DAF2; 
    pointer-events: none;
    z-index: 1;
}


.category-btn {
    display: flex;
    justify-content: flex-start; 
    gap: 10px; 
    padding: 8px 0; 
    width: 100%; 
    margin-top: -30px; 
    margin-left: 25px; 
    margin-bottom: 15px;
    /*#6B3F20*/
}


.btn-option {
    width: 105px;
    height: 35px;
    background-color: #3E4E6C; 
    border: 1px solid #5C6A8A; 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 
        background-color 0.4s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease,
        color 0.3s ease;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF; 
    position: relative;
    overflow: hidden;
}

.btn-option:hover {
    background-color: #4F6286; 
    box-shadow: 0 4px 15px rgba(79, 98, 134, 0.4); 
    transform: translateY(-2px) scale(1.08);
    color: #FFFFFF; 
}

.input:checked + .btn-option {
    background-color: #4F6286; 
    color: #D1DAF2; 
    border-color: #374960; 
}

.input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    appearance: none;
    cursor: pointer;
}

.btn {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.span {
    color: var(--font-color-dark);
}

.input:checked + .btn {
    border-radius: 0;
    background-color:rgb(36, 60, 133);
}

.input:checked + .btn .span {
    color: var(--font-color-light);
}

.dropdown-category {
    width: fit-content;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position:relative;
    transition: 300ms;
    color: white;
    overflow: hidden;
    margin: 38px 0 -127px -85px;
    z-index: 100;
}

.selected {
    background-color: #2a2f3b;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 0 10px 10px 0 ;
    position: relative;
    z-index: 10000;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    position: relative;
    right: 0px;
    height: 10px;
    transform: rotate(-90deg);
    width: 15px;
    fill: white;
    z-index: 1;
    transition: 300ms;
}

.options {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    background-color: #2a2f3b;
    position: relative;
    top: -100px;
    opacity: 0;
    z-index: 200;
    transition: 300ms;
    cursor: pointer;
}

.dropdown-category:hover > .options {
    opacity: 1;
    top: 0;
}

.dropdown-category:hover > .selected .arrow {
    transform: rotate(0deg);
}

.option {
    border-radius: 5px;
    padding: 5px;
    transition: 300ms;
    background-color: #2a2f3b;
    width: 60px;
    font-size: 15px;
    z-index: 200;
    cursor: pointer;
}
.option:hover {
    background-color: #323741;
}

.options input[type="radio"] {
    display: none;
}

.options label {
    display: inline-block;
}
.options label::before {
    content: attr(data-txt);
}

/* .options input[type="radio"]:checked + label {
    display: none;
}

.options input[type="radio"]#dd-all:checked + label {
    display: none;
} */

.dropdown-category:has(.options input[type="radio"]#dd-all:checked) .selected::before {
    content: attr(data-default);
}
.dropdown-category:has(.options input[type="radio"]#dd-active:checked) .selected::before {
    content: attr(data-one);
}
.dropdown-category:has(.options input[type="radio"]#dd-pending:checked) .selected::before {
    content: attr(data-two);
}
.dropdown-category:has(.options input[type="radio"]#dd-denied:checked) .selected::before {
    content: attr(data-three);
}


.table-container, .table-container-2, .table-container-3, .table-container-4, .table-container-5{
    margin-top: 20px;
    max-height: 6in;
    overflow-y: auto;
    position:static;
    z-index: 1;
}


.table-container .table-accounts, .table-container-2 .table-accounts-2, .table-container-3 .table-accounts-3, .table-container-4 .table-accounts-4, .table-container-5 .table-accounts-5{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    z-index: 10;
}

tr, td{
    background-color: #30344A; 
    color:white;
    padding: 30px 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 2px solid #5A5F7D;
    z-index: 10;
}

.td-content{
    margin: -20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 10;
}

.td-left{
    display: flex;
    margin-left: 20px;
    flex-direction: row;
    z-index: 1;
}

.td-left .bx{
    font-size: 100px;
}

.profile-image {
    width: 100px;
    height: 100px; 
    border-radius: 3px;
    border: 2px solid;
    margin-right: 10px;
}

#username{
    font-size: 40px;
    margin: 10px 0;
}

#fullname, #position-name{
    font-size: 20px;
    margin: 0;
    display: inline-block;
}

.td-right{
    display: flex;
    flex-direction: column;
    align-items: end;
    position: static;
    margin-right: 45px;
}

#date{
    font-size: 20px;
    margin-right: -10px;
    
}

.td-btn{
    align-content: space-between;
    word-spacing: 20px;
}

.td-btn button{
    display: inline-block;
    padding: 10px; 
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: whitesmoke;
    margin-right: -15px;
}
.td-btn button:hover {
    background-color: red;
    color: black;
}


#accept-btn, #accept-btn-3{
  
    background-color: #3FA544;
    border-radius: 10px;
}

#decline-btn, #decline-btn-3{
    background-color: #E53935;
    border-radius: 10px;
}

#view-btn, #view-btn-2, #view-btn-3,#view-btn-4,#view-btn-5{
    background-color: #967d38;
    border-radius: 10px;
}

/*
#view-btn, #view-btn-2, #view-btn-3, #view-btn-4, #view-btn-5{
    background-color: #967d38;
}

#view-btn-2{
    margin-top: 40px;
}*/

.pay {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    position: fixed; 
    top: 15%; 
    right: 55px; 
    color: #D1DAF2;
    background-color: #3E4E6C; 
    border-radius: 15px;
    padding: 8px 15px; 
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease-in-out;
}

.pay label {
    color: #D1DAF2;
    font-size: 14px; 
    margin-right: 5px; 
}

.pay input[type="date"] {
    width: 100px; 
    padding: 5px; 
    margin: 0 3px; 
    border: 1px solid #5C6A8A; 
    border-radius: 8px; 
    background-color: #2C3A5D; 
    color: #D1DAF2; 
    font-size: 14px; 
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.pay input[type="date"]:hover {
    border-color: #4F6286; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); 
}

.pay input[type="date"]:focus {
    border-color: #6B3F20; 
    box-shadow: 0 0 5px rgba(107, 63, 32, 0.5); 
}


.modal, .modal-2, .modal-3, .modal-4, .modal-5 {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content, .modal-content-2, .modal-content-3, .modal-content-4, .modal-content-5 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close, .close-2, .close-3, .close-4, .close-5 {
    position: absolute;
    top: 50px;
    right: 50px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.table-container, .table-container-2, .table-container-3, .table-container-4 , .table-container-5  {
    display: none;
}

.table-container {
    display: block; 
}

form{
    position: relative;
    
}

form #accept-btn-3{
    background-color: rgb(23, 99, 23);
}

form #decline-btn-3{
    background-color: rgb(137, 40, 40);
    margin-right: 10px;
}

.table-accounts-3 .td-btn {
    display: flex;
    flex-direction: row;
}
