@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

/* General body styling */
body {
    font-family: 'Poppins','sans-serif';
    background-color: #464866;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    overflow-x: hidden;
}

.navbar, html{
    overflow: visible;
}

/* Navbar styling */
.navbar {
    background-color: #25274D;
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #29648A;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1000;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h3 {
    color: #F9F4EF;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Main container styling */
.dashboard-container {
    width: 60%;
    max-width: 1200px;
    background-color: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-top: 100px; /* Adjusted for navbar height */
    margin-bottom: 20px;
}

h1 {
    color: #333;
    margin-bottom: 40px;
    text-align: center;
}

.chart-container {
    width: 100%;
    height: 600px;
}

/* Side container styling */
.side-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 20px;
    width: 35%;
    margin-top: 100px;
    margin-bottom: 20px;
}

.hub-container {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 339px;
}

.hub-container h2 {
    margin-bottom: 15px;
    text-align: center;
}

.canvas-container {
    width: 80%;
    height: 80%;
}
