.Two-Textbox{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    gap: 20px; /* Space between buttons */
}

.Top-Bottom{
    display: flex;
    flex-direction: column;
}

.content-section {
    display: none; /* Hide all sections by default */
    height: 0; /* Set height to 0 */
    opacity: 0; /* Hide opacity */
    transition: opacity 0.5s ease, height 0.5s ease; /* Transition for opacity and height */
}

.content-section.active {
    display: initial; /* Make the active section visible */
    height: auto; /* Allow height to adjust */
    opacity: 1; /* Fade in */
}

body{
    background-color: #182358;
    text-align: center; /* Center text in the body */
}

*{
    color: black;
}

h4, h1{
    color: blanchedalmond;
}

.ColoredBackground{
    justify-content: center;
    justify-self: center;
    width: 35%;
    height: auto;
    margin-bottom: 5%;
    border-style: solid;
    border-color: white;

}

.vehicle,.textbox_vehicle{
    text-align: left;
    margin-left: 10px;
}

.textbox_vehicle{
    justify-content: flex-start;
    width: 80%;
    align-self: left;
    align-content: left;
}

.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ORCR{
    margin-bottom: 5%;

}