@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-color:#7e83bf;
    overflow-x: hidden;
}

html{
    overflow-x: hidden;
}

.navbar, html{
    overflow: visible;
}
.navbar {
    background-color: rgba(0, 5, 151, 0.316);
    backdrop-filter: blur(10px);
    padding: 1px;
    border-radius: 10px;
    z-index: 1000;
}



.navbar h3{
    color: black;
    font-size: 40px;
    font-family: 'Poppins','sans-serif';
    padding-left: 30px;
    margin-top: 10px;
}

.table-container{

    justify-items: center;
}

table{
    margin-top: 10px;
    text-align: center;
    
    border: 1px solid;
}

th{
    font-size: 20px;
    padding: 15px;
    border: 1px solid;
}

td{
    font: 20px;
    border: 1px solid;
}

.left{
    position: fixed;
    top: 70%;
    left: 2%;
}

.right{
    position: fixed;
    left: 70%;
    top: 20%;
    display:inline-flex;
    flex-direction: column;
    gap: 5px;
    width: 400px;
}

.pay{
    padding-bottom: 10px;
    flex-direction: row;
}

.payroll-btn button{
    background-color: rgba(0, 5, 151, 0.316);
    gap: 10px;
    font-size: 30px;
    position:relative;
    border-radius: 10px;
    float: right;
    padding: 15px;
    margin-top: 300px;
    margin-left: 10px;
}